@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
  --primary-color: rgba(255, 255, 255, 0.25);
  --primary-color-focus: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(330deg, rgba(255, 166, 0, 1) 0%, rgba(0, 142, 210, 1) 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none !important;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.2);
  height: 40%;
  width: 80%;
  max-width: 1400px;
  min-height: 450px;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: 9px 10px 37px -4px rgba(0, 0, 0, 0.74);
  -webkit-box-shadow: 9px 10px 37px -4px rgba(0, 0, 0, 0.74);
  -moz-box-shadow: 9px 10px 37px -4px rgba(0, 0, 0, 0.74);
}

.initial {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#local-btn {
  font-family: inherit;
  font-size: 2rem;
  border: none;
  border-radius: 15px;
  height: 5rem;
  width: 30rem;
  padding: 5px;
}

.initial p {
  font-size: 2rem;
}

#search-box,
textarea {
  background-color: var(--primary-color);
  font-family: inherit;
  font-size: 2rem;
  color: #363636;
  height: 5rem;
  width: 30rem;
  border: none;
  border-radius: 15px;
  outline: none;
  padding: 10px;
}

#search-box:focus,
#search-box:hover {
  background-color: var(--primary-color-focus);
}

.cards {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 0.5fr;
}

.main-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.local-time {
  flex-direction: column;
  margin-left: 20px;
  width: 25%;
}

#location-name {
  font-size: 3rem;
}

#local-time {
  font-size: 2.3rem;
}

.current {
  width: 40%;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
}

.current-date {
  flex-direction: column;
  margin-right: 20px;
  width: 25%;
}

#current-day {
  font-size: 3rem;
}

#current-date {
  font-size: 2.3rem;
}

#description {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 2.2rem;
}

.img-temp {
  grid-area: 2 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
}

.current-img {
  grid-area: 1 / 1 / 3 / 2;
}

.img img {
  height: 100%;
}

#temp {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 5rem;
}

#feels-like {
  grid-area: 2 / 2 / 3 / 3;
  font-size: 1.6rem;
}

#feels-like span {
  font-weight: bold;
}

.info {
  grid-area: 3 / 1 / 4 / 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#humidity {
  font-size: 1.5rem;
}

#humidity span {
  font-weight: bold;
}

#wind {
  font-size: 1.5rem;
}

#wind span {
  font-weight: bold;
}

.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  font-family: inherit;
  font-size: 2rem;
  color: #363636;
  background-color: var(--primary-color);
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 1;
}

.btn-active {
  background-color: var(--primary-color-focus);
}

.btn:hover {
  background-color: var(--primary-color-focus);
}

#daily-btn {
  border-bottom-left-radius: 15px;
}

#hourly-btn {
  border-bottom-right-radius: 15px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.daily-cards {
  display: flex;
  padding-top: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 19px 24px 3px rgba(0, 0, 0, 0.37);
  overflow: auto;
  white-space: nowrap;
  transform: translateY(-5%);
  animation: slide-down 1s;
}

.daily-card {
  width: 100%;
  margin: 0 2px 0 2px;
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr repeat(2, 1fr);
  background-color: var(--primary-color);
  border-radius: 15px;
}

.day {
  font-size: 1.4rem;
}

.img {
  height: 100%;
}

.description {
  font-size: 1.1rem;
}

.max {
  font-size: 2rem;
}

.min {
  font-size: 2rem;
}

.hourly-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
  padding-top: 10px;
  padding-top: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 19px 24px 3px rgba(0, 0, 0, 0.37);
  overflow: auto;
  white-space: nowrap;
  transform: translateY(-5%);
  animation: slide-down 1s;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-5%);
    opacity: 1;
  }
}

.hourly-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 0 5px 0 5px;
}

.hour {
  font-size: 1.2rem;
}

.temp {
  font-size: 1.6rem;
}

/* Spinner */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-spinner {
  color: official;
  display: inline-block;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(0, 0, 0);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Responsiveness */
@media (max-width: 1750px) {
  body {
    height: 150vh;
  }

  .main-container {
    height: 450px;
    margin-top: 10px;
  }
}

@media (max-width: 450px) {
  body {
    height: 180vh;
  }

  .main-container {
    height: 700px;
    width: 90%;
  }

  .main-card {
    flex-direction: column;
  }

  .initial {
    flex-direction: column;
  }

  #local-btn {
    font-size: 1.5rem;
    height: 6rem;
    width: 15rem;
    padding: 5px;
  }

  #search-box,
  textarea {
    font-size: 1.3rem;
    height: 6rem;
    width: 15rem;
    padding: 5px;
  }

  .main-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .local-time {
    flex-direction: column;
    width: 90%;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary-color-focus);
  }

  #location-name {
    font-size: 2rem;
  }

  #local-time {
    font-size: 1.5rem;
  }

  .current {
    width: 100%;
    height: 100%;
  }

  .current-date {
    flex-direction: row;
    margin: 5px 0 0 0;
    width: 90%;
    border-top: 1px solid var(--primary-color-focus);
  }

  #current-day {
    font-size: 1.5rem;
    margin-right: 5px;
  }

  #current-date {
    font-size: 1.3rem;
    margin-left: 5px;
  }

  #description {
    grid-area: 1 / 1 / 2 / 3;
    font-size: 1.6rem;
  }

  .img-temp {
    position: relative;
  }

  .current-img {
    grid-area: 1 / 1 / 3 / 2;
  }

  .current-img img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  #temp {
    font-size: 4.5rem;
  }

  #humidity {
    font-size: 1.3rem;
  }

  #wind {
    font-size: 1.3rem;
  }

  .buttons {
    width: 100%;
  }

  .btn {
    font-size: 1.5rem;
    padding: 5px;
  }

  .hourly-card {
    height: 130px;
  }
}
